body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}
.navbar {
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
}

.navbar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
    font-weight: bold;
}
.nav-link {
    margin-right: 20px;
    color: #00416d;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #007bff;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}
.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.form-group label {
    font-weight: bold;
}
.form-text {
    color: red;
}
.btn-submit {
    background-color: #000;
    color: #fff;
    width: 100%;
    transition: background-color 0.3s;
}
.btn-submit:hover {
    background-color: #444;
}
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    margin-top: 50px;
}
.footer a {
    color: #000;
    margin: 0 10px;
}
