body {
    background-color: #f0f4f8;
}
.navbar {
    background-color: #ffffff;
}
.navbar-brand {
    font-weight: bold;
}
.card {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-custom {
    background-color: #d4ff00;
    color: black;
}
.footer {
    background-color: #ffffff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.input-group .btn-custom {
    margin-right: 10px;
}